.logo-accueil{
    max-width : 80%;
    max-height: 40%;
    display: block;
}

/* css input connexion */
label {
    position: relative;
  }
  
  label input {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    /* transition: all 0.2s; */
    width: 100%;
  }
  label .password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    /* transition: all 0.2s; */
  }
  label .password-icon:hover {
    cursor: pointer;
    /* color: grey; */
  }
  
  label .password-icon .eye-slash-fill {
    display: none;
  }