#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #162847;
}

.container {
  max-width: 600px !important;
  height: auto;
}

.logo-accueil {
  max-width: 500px;
  max-height: auto;
  display: block;
}

/* css input  */
label {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 100%;
}

label input {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 100%;
}

label .password-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 60%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
}

label .password-icon:hover {
  cursor: pointer;
}

label .password-icon .eye-slash-fill {
  display: none;
}

label .password-icon .eye-fill {
  display: block;
}

textarea{
  width: 100%;
}
.profilePicU {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid grey;
  object-fit: cover;
}

#profileId {
  width: 100%;
}

#profilePic {
  display: inline-block;
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  border: 1px solid grey;
  object-fit: cover;
}

.logo {
  width: auto;
  height: 30px !important;
}

a {
  cursor: pointer;
}

.menu {
  display: inline-block;
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
  color: white !important;
  text-decoration: none !important;
  background-color: #162847 !important;
}

.btn {
  background-color: #162847 !important;
  color: white !important;
  font-weight: bold;
}

.bg-blue {
  background-color: #162847 !important;
}
.visualContent{
  max-width: 600px!important;
  max-height: auto!important;
  width: 600px;
  height: auto;
}